$color1 = #ECE6DE
$color2 = #24AAE2
$color3 = #FFFFFF
$color4 = #ed1c24

border-radius(n)
    -moz-border-radius n
    -webkit-border-radius n
    border-radius n

body
    background $color1
    font-family "Roboto", sans-serif
    background-image linear-gradient(to bottom, $color1, $color1 70%, $color3 70%, $color3)
    background-size cover
    background-repeat no-repeat

html, body
    margin 0
    height 100%

[type="checkbox"]:checked
    & + label
        &:before
            border-right 2px solid $color2
            border-bottom: 2px solid $color2

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after
    border 2px solid $color2

.login-form
    width 350px
    padding 40px 30px
    background $color3
    border-radius(4px)
    margin auto
    position absolute
    left 0
    right 0
    top 50%
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
    -webkit-transform translateY(-50%)
    transform translateY(-50%)
    .thumbnail
        width 200px
        height 200px
        margin 0 auto 20px
        img
            display block
            width 100%
    .thumbnail2
        background #EF3B3A
        width 220px
        height 220px
        margin 0 auto 20px
        padding 50px 20px
        border-top-left-radius 100%
        border-top-right-radius 100%
        border-bottom-left-radius 100%
        border-bottom-right-radius 100%
        box-sizing border-box
    label
        border-color $color2
        color $color2
    input
        border-color $color2
        color $color2

.form-group
    position relative
    margin-bottom 15px

.form-control
    width 100%
    height 50px
    border none
    padding 5px 7px 5px 15px
    background $color3
    color #666
    border 2px solid #ddd
    -moz-border-radius 4px
    -webkit-border-radius 4px
    border-radius 4px

.form-control:focus, .form-control:focus + .fa
    border-color $color2
    color $color2

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa
    border-color $color4
    color $color4

.log-btn
    background $color2
    dispaly inline-block
    width 100%
    font-size 16px
    height 50px
    color $color3
    text-decoration none
    border none
    -moz-border-radius 4px
    -webkit-border-radius 4px
    border-radius 4px

.link
    text-decoration none
    color #C6C6C6
    float right
    font-size 12px
    margin-bottom 15px
    &:hover
        text-decoration underline
        color #8C918F

.alert
    display none
    font-size 12px
    color red
    float left
