extends ../layouts/layout

//-block styles
  link(rel="stylesheet", href="/stylesheets/login.css")

block content
  div.container
    form(ng-controller="myForm" ng-submit="submitFrom()")
      div.form-group
        div.input-group
          label(for="user_name") Username:
          //-span(style="color:red" ng-show="frm.username.$dirty && frm.username.$invalid")
          input#user_name.form-control(type="email" name="username" ng-model="user.username" required="")
          //-span(ng-show="frm.username.$error.required") Required!

        div.input-group
          label(for="user_pass") Password:
          //-span(style="color:red" ng-show="frm.password.$dirty && frm.password.$invalid")
          input#user_pass.form-control(type="password" name="password" ng-model="user.password" required="")
          //-span(ng-show="frm.password.$error.required") Required!

        a(href="/manager") Lost your password?

        p
          input#remember(type="checkbox" name="remember" ng-model="user.remember")
          label(for="remember") Remember
        p

        button(type="submit" ng-click="registerUser()") Enter

        p
          | Not registered? 
          a(href="/register") Register

block scripts
  //-script(src="libs/conection.js")
  script(src="javascripts/login.js")



//- extends ../layouts/layout

//- block styles
//-   link(rel="stylesheet", href="/stylesheets/login.css")

//- block content
//-   body(ng-app)
//-     if message
//-       span= message
      
//-     form.login-form.z-depth-3(name="frm", id="form")
//-       div.thumbnail
//-         img(src="favicon.png")
//-       div.form-group.log-status.input-field.col.s6
//-         input#user_name.form-control.validate(type="email", name="username", ng-model="user.email", required)
//-         label(for="user_name") Username:
//-         span(ng-show="frm.email.$invalid") Required:

//-       div.form-group.log-status.input-field.col.s6
//-         input#user_pass.form-control.validate(type="password", name="password", required="")
//-         label(for="user_pass") Password:
//-         span.tooltipped.col.s4.offset-s4.l2.offset-l1.red(data-position="right", data-delay="50", data-tooltip="Input Required:")

//-       span.alert Invalid Credentials
      
//-       a.link(href="/manager") Lost your password?

//-       p
//-         input#remember(type="checkbox", name="remember", value="yes", checked)
//-         label(for="remember") Remember
//-       p

//-       button.log-btn(type="submit") Enter

//-       p.link
//-         | Not registered? 
//-         a(href="/register") Register
      
//- block scripts
//-   //-script(data-main="/libs/login" src="module/requirejs/require.js")
//-   script(src="libs/conection.js")