doctype html
html
  html(lang="en")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //-link(rel="stylesheet", href="/fonts/fonts.css")
    //-link(rel="stylesheet", href="/module/Materialize/dist/css/materialize.min.css")

    //-if (!user)
      link(rel="stylesheet", href="/stylesheets/preloader.css")

  block styles

  body(ng-app)
    div#content.container
      if (user)
        div#loader-wrapper
          div#loader
          div.loader-section.section-left
          div.loader-section.section-right

    block content

    script(src="/module/angular/angular.min.js")
    //-script(src="/module/Materialize/dist/js/materialize.min.js")

    //- if (!user)
      script(src="/javascripts/preloader.js")

    //- script(src="/javascripts/debug.js")
    //- script(src="/socket.io/socket.io.js")
    script(src="/primus/primus.io.js")

    block scripts