doctype html
html
    html(lang='en')
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= title
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/fonts/fonts.css")
        link(rel="stylesheet", href="/module/Materialize/dist/css/materialize.min.css")

        if (!user)
            link(rel="stylesheet", href="/stylesheets/preloader.css")

        block styles
    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

        #content
            if (user)
                #loader-wrapper
                    #loader
                    .loader-section.section-left
                    .loader-section.section-right

            block content

        //- script(src="/lib/jquery/dist/jquery.min.js")
        //- script(src="/lib/Materialize/dist/js/materialize.min.js")

        //- if (!user)
            script(src="/javascripts/preloader.js")

        //- script(src="/javascripts/debug.js")
        //- script(src="/socket.io/socket.io.js")

        block scripts