extends layouts/layout

block content
    .container
        h1 #{title}
        p This page was rendered using the Jade template engine
        a(href='/message-list') View Messages
        br
        a(href='/login') Login